<div class="container" *ngIf="form.nombre_producto && !failInit">
	<div class="row">
		<div class="col-md-8">
			<h5>Actualizar Producto</h5>
			<form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Nombre"
                    name="nombre_producto" [(ngModel)]="form.nombre_producto" required>
						  </div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<input type="hidden" name="id" #id="ngModel" [(ngModel)]="form.id">
								<input type="number" class="form-control" placeholder="Cantidad"
                    name="cantidad" [(ngModel)]="form.cantidad" required>
						    </div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<input type="date" class="form-control" placeholder="Fecha Ingreso"
                    name="fecha_ingreso" [(ngModel)]="form.fecha_ingreso" required>
						    </div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<select></select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-lg" [disabled]="!f.valid">Actualizar</button>
							</div>
			</form>
			<div>
				<button class="btn btn-primary float-left mr-3" (click)="volver()">Volver</button>
			</div>
		</div>
	</div>
</div>