<button type="button" class="btn btn-primary float-right" routerLink="/nuevo-producto">Nuevo Producto</button>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Cantidad</th>
			<th scope="col">Fecha Ingreso</th>
			<th scope="col">Usuario</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let producto of productos">
			<th scope="row">{{producto.id}}</th>
			<td>{{producto.nombre_producto}}</td>
			<td>{{producto.cantidad}}</td>
			<td>{{producto.fecha_ingreso}}</td>
			<td>{{producto.usuario_id}}</td>
			<td><button type="button" class="btn btn-info">Detalle</button></td>
			<td><button type="button" class="btn btn-warning">Editar</button></td>
			<td><button type="button" class="btn btn-danger" (click)="eliminarProducto(producto.id)">Eliminar</button>
			</td>
		</tr>
	</tbody>
</table>